.SocialBlock {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 250px;
    position: relative;
}

@media (max-width: 600px) {
    .SocialBlock {
        margin: 1em auto;
    }
}

@media (min-width: 600px) {
    .SocialBlock {
        top: -50px;
    }
}

@media (min-width: 1024px) {
    .SocialBlock {
        top: -85px;
    }
}