.Button {
    background: #FCB001;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    padding: .5rem;
    font-family: 'Sanchez', serif;
    font-size: 15px;
    font-weight: bold;

}

.Button:focus{
    border: none;
    outline: none;
    text-decoration: none;
}

.Button:active{
	background: gray;
}