.CreditsContainer {
    margin: 0 auto;
    width: 85%;
}

.Credit {
    color: #000;
    font-family: 'Sanchez', serif;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

@media (min-width: 768px) {
    .CreditsContainer {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .CreditsContainer {
        width: 50%;
    }
}