.Subhead {
    /*    color: #000;
    font-size: 3vh;
    font-weight: 300;
    line-height: 1.1;*/
    font-size: 1em;
    margin-top: 0;
}

@media (min-width: 768px) {
    .Subhead {
        font-size: 1.15em;
    }
}
