.Photos .FullPhotoContainer:not(:last-of-type) {
    margin-bottom: 0;
}

.Photos .FullPhotoContainer:not(:first-of-type) {
    margin-top: 0;
}

.Photos .FullPhotoContainer:not(:last-of-type) .PhotoInfo {
    display: none;
}
