.Paragraph {
    line-height: 1.25;
    margin: .5em auto;
    width: 85%;
}

@media (min-width: 640px) {
    .Paragraph {
        font-size: 1em;
    }
}

@media (min-width: 768px) {
    .Paragraph {
        font-size: 1.1em;
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .Paragraph {
        font-size: 1.25em;
        margin: 0 auto 2vh auto;
        width: 50%;
    }
}

.Paragraph .DropCap {
    color: #FCB001;
    float: left;
    font-family: 'Suez One', serif;
    font-size: 80px;
    padding-right: 0;
    padding-left: 3px;
    margin-bottom: -.25em;
}

@media (min-width: 768px) {
    .Paragraph .DropCap {
        font-size: 140px;
    }
}