.Paragraph {
    margin: .5em auto;
    width: 90%;
}

@media (min-width: 640px) {
    .Paragraph {
        font-size: 1em;
    }
}

@media only screen and (min-width: 768px) {
    .Paragraph {
        /*font-size: 2.6vh;*/
        width: 80%;
    }
}

@media only screen and (min-width: 1024px) {
    .Paragraph {
        font-size: 1.25em;
        margin: 0 0 2vh 22vh;
        line-height: 1.5;
        width: 50%;
    }
}

.Paragraph .dropCap {
    float: left;
    font-size: 8vh;
    line-height: 60px;
    padding-top: 1vh;
    padding-right: 0;
    padding-left: 3px;
}
