 .AbortionAnnotations {
     border: 1px solid black;
     clear: both;
     margin: .5em auto;
     width: 90%;
 }

 .AbortionAnnotations .AnnotationContainer{
    margin: 0;
    width: 100%;
 }
 
 @media (min-width: 768px) {
     .AbortionAnnotations {
         width: 80%;
     }
 }
 
 @media (min-width: 1024px) {
     .AbortionAnnotations {
         font-size: 1.25em;
         margin: 0 0 2vh 22vh;
         line-height: 1.5;
         width: 50%;
     }
 }
