.SlideshowButton-container {
    font-size: 150%;
    font-weight: bold;
    position: absolute;
    top: 30%;
}

@media (min-width: 440px) {
    .SlideshowButton-container {
        font-size: 225%;
    }
}

@media (min-width: 768px) {
    .SlideshowButton-container {
        top: 35%;
    }
}

@media (min-width: 1024px) {
    .SlideshowButton-container {
        top: 45%;
    }
}

.SlideshowButton-container.right {
    right: 0;
}

.SlideshowButton-container.left {
    left: 0;
}

.SlideshowButton {
    background: white;
    color: #333;
    opacity: .8;
    cursor: pointer;
    padding: .35em .4em;
}
