.SubscribeContainer {
    padding: 0em 0em .5em;
    border-bottom: 1.5px solid gray;
    border-top: 1.5px solid gray;
    margin: 0 auto;
    width: 90%;
}

.SubscribeContainer h4 {
    color: #080808;
    font-size: 130%;
    margin: .75em 0;
}


@media (min-width: 550px) {
    .SubscribeContainer {
        float: right;
        margin-left: 2%;
        margin-right: 10%;
        text-align: left;
        width: 40%;
    }
}

@media (min-width: 768px) {
    .SubscribeContainer {
        float: right;
        margin-left: 2%;
        margin-right: 15%;
        text-align: left;
        width: 40%;
    }
}

@media (min-width: 900px) {
    .SubscribeContainer {
        margin-right: 19%;
    }
}

@media (min-width: 1024px) {
    .SubscribeContainer {
        clear: both;
        margin-right: 26%;
        width: 20%;
    }
}

@media (min-width: 1280px) {
    .SubscribeContainer {
        margin-right: 25%;
    }
}

@media (min-width: 1440px) {
    .SubscribeContainer{
        margin-right: 29%
    }
}
