.Social{
	cursor: pointer;
}

.Social img {
    background: #808080;
    padding: 5px;
    width: 2em;
    border-radius: 50%;
}

@media (min-width: 1024px) {
    .Social img {
        width: 2.5em;
    }
}

.Social img {
    color: #fff;
    transition: color 1s linear;
}

.Social:hover img{
	color: #FCB001;
}