.Social{
	cursor: pointer;
}

.Social svg {
    background: #808080;
    padding: 5px;
    width: 2em;
    border-radius: 50%;
}

@media (min-width: 1024px) {
    .Social svg {
        width: 2.5em;
    }
}

.Social svg g {
    fill: #fff;
    transition: fill 1s linear;
}

.Social:hover svg g{
	fill: #FCB001;
}