.CostClockContainer{
	background-color: #5A595C;
	border: .05em #302F30 solid;
	color: #FBF8FF;
	text-align: center;
	font-family: helvetica;
	margin: 0em 1.75em 0em 1.75em;
}
.CostClockContainer h4{
	font-size: 1.1em;
	font-weight: 200;
	margin: 0;
	text-decoration: underline;
}

.digit{
	display: inline;
	padding: .12em;
	font-size: 2em;
	font-weight: 175;
	font-family: garamond;
}
.CostClockContainer p{
	font-size: .85em;
	font-weight: normal;
	margin: 0;
}