@import url('https://fonts.googleapis.com/css?family=Arapey');

.PhotoEssayContainer {
    font-family: 'Sanchez', serif;
    margin: 2em 0;
    overflow-x: hidden;
    position: relative;
}

.PhotoEssayContainer h2 {
    font-family: 'Suez One', serif;
    font-weight: normal;
}