.PullQuote {
    color: #080808;
    font-size: 1.25em;
    font-weight: bold;
    margin: 3vh auto 3vh;
}

@media (max-width: 767px) {
    .PullQuote {
        width: 75%;
    }
}

@media (min-width: 768px) {
    .PullQuoteContainer {
        float: left;
        margin-right: 2%;
        text-align: right;
        width: 45%;
    }
    .PullQuote {
        font-size: 1.6em;
        font-weight: bold;
        margin-left: 22%;
    }
}

@media (min-width: 1024px) {
    .PullQuoteContainer {
        clear: both;
        width: 35%;
    }
    .PullQuote {
        margin-left: 30%;
    }
}

@media (min-width: 1028px) {
    .PullQuote {
        margin-left: 35%;
    }
}

@media (min-width: 1440px) {
    .PullQuote {
        margin-left: 26%;
    }
}
