.PhotoInfo {
    font-family: 'Sanchez', serif;
    font-size: 14px;
    color: #000;
    margin: 0 auto;
    width: 90%;
}


.StoryTop .PhotoInfo {
    display: none;
}




@media only screen and (min-width: 1024px) {
    .PhotoInfo {
        width: 100%;
    }
}