.Headline {
    font-size: 30px;
    font-weight: normal;
/*    margin: 1em 0 .25em;*/
    font-family: 'Suez One', serif;
}

@media (min-width: 768px){
    .Headline{
        font-size: 44px;
        margin: 0;
    }
}

@media (max-width: 1023px) {
    .Headline {}
}

@media (min-width: 1024px) {
    .Headline {
        font-size: 2em;
    }
}


/*Bump up headline size for iPad Pro
*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .Headline {
        font-size: 2.5em;
    }
}
