@media (max-width: 767px) {
    .SmallPhotoDesktopContainer {
        margin: 2em 0 1.5em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .SmallPhotoDesktopContainer {
        margin: 0 auto;
        width: 90%;
    }
}

@media only screen and (min-width: 1024px) {
    .SmallPhotoDesktopContainer {
        display: inline-flex;
        flex-direction: column;
        float: left;
        margin: 0 1em 0 22vh;
        width: 25%;
    }
    .SmallPhotoDesktopContainer .PhotoInfo {
        margin: 0;
        text-align: right;
    }
    .SmallPhotoDesktopContainer .PhotoInfo p {
        margin-bottom: 0;
    }
}
