.SmallPhotoDesktopContainer {
    margin: 2em 0;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .SmallPhotoDesktopContainer {
        margin: 1.5em auto;
        width: 80%;
    }
}

@media only screen and (min-width: 1024px) {
    .SmallPhotoDesktopContainer {
        display: inline-flex;
        flex-direction: column;
        float: left;
        margin: 0 2% 1% 25%;
        width: 25%;
    }
    .SmallPhotoDesktopContainer .PhotoInfo {
/*        margin: 0;*/
/*        text-align: right;*/
    }
    .SmallPhotoDesktopContainer .PhotoInfo p {
        margin-bottom: 0;
    }
}
