.StorySeriesBlock {
    background: linear-gradient(to right, #3c0000, #f60000);
    border: 2px solid white;
    color: #FDFEFE;
    display: inline-block;
    font-family: 'Suez One', serif;
    font-size: 13.5px;
    padding: .2em .3em;
}

@media (max-width: 1023px) {
    .StorySeriesBlock {
        position: relative;
        top: -14px;
    }
}

@media (min-width: 768px) {
    .StorySeriesBlock {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .StorySeriesBlock {
        font-size: 21px;
        margin-bottom: .8em;
    }
}

.StorySeriesBlock p {
    margin-bottom: 0;
}