.SectionHeading {
    color: #f60000;
    font-family: 'Suez One', serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.1;
    margin: 1em auto;
    width: 85%;
}

@media (min-width: 640px) {
    .SectionHeading {}
}

@media only screen and (min-width: 768px) {
    .SectionHeading {
        width: 70%;
    }
}

@media only screen and (min-width: 1024px) {
    .SectionHeading {
        font-size: 1.3em;
        margin: 0 auto 2vh auto;
        width: 50%;
    }
}